@font-face {
	font-family: 'hawcons';
	src:url('fonts/hawcons.eot?3cebru');
	src:url('fonts/hawcons.eot?#iefix3cebru') format('embedded-opentype'),
		url('fonts/hawcons.woff?3cebru') format('woff'),
		url('fonts/hawcons.ttf?3cebru') format('truetype'),
		url('fonts/hawcons.svg?3cebru#hawcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hawcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-1-cloud:before {
	content: "\e6c9";
}
.icon-icon-2-cloud-sun:before {
	content: "\e6ca";
}
.icon-icon-3-cloud-moon:before {
	content: "\e6cb";
}
.icon-icon-4-cloud-rain:before {
	content: "\e6cc";
}
.icon-icon-5-cloud-sun-rain:before {
	content: "\e6cd";
}
.icon-icon-6-cloud-moon-rain:before {
	content: "\e6ce";
}
.icon-icon-7-cloud-snow:before {
	content: "\e6cf";
}
.icon-icon-8-cloud-sun-snow:before {
	content: "\e6d0";
}
.icon-icon-9-cloud-moon-snow:before {
	content: "\e6d1";
}
.icon-icon-10-cloud-lightning:before {
	content: "\e6d2";
}
.icon-icon-11-cloud-sun-lightning:before {
	content: "\e6d3";
}
.icon-icon-12-cloud-moon-lightning:before {
	content: "\e6d4";
}
.icon-icon-13-cloud-wind:before {
	content: "\e6d5";
}
.icon-icon-14-cloud-raindrops:before {
	content: "\e6d6";
}
.icon-icon-15-cloud-sun-raindrops:before {
	content: "\e6d7";
}
.icon-icon-16-cloud-moon-raindrops:before {
	content: "\e6d8";
}
.icon-icon-17-cloud-snowflakes:before {
	content: "\e6d9";
}
.icon-icon-18-cloud-sun-snowflakes:before {
	content: "\e6da";
}
.icon-icon-19-cloud-moon-snowflakes:before {
	content: "\e6db";
}
.icon-icon-20-clouds:before {
	content: "\e6dc";
}
.icon-icon-21-cloud-add:before {
	content: "\e6dd";
}
.icon-icon-22-cloud-remove:before {
	content: "\e6de";
}
.icon-icon-23-cloud-error:before {
	content: "\e6df";
}
.icon-icon-24-cloud-fog:before {
	content: "\e6e0";
}
.icon-icon-25--cloud-sun-fog:before {
	content: "\e6e1";
}
.icon-icon-26-cloud-moon-fog:before {
	content: "\e6e2";
}
.icon-icon-27-moon-stars:before {
	content: "\e6e3";
}
.icon-icon-28-moon:before {
	content: "\e6e4";
}
.icon-icon-29-sun:before {
	content: "\e6e5";
}
.icon-icon-30-sunrise:before {
	content: "\e6e6";
}
.icon-icon-31-sunset:before {
	content: "\e6e7";
}
.icon-icon-32-sunset:before {
	content: "\e6e8";
}
.icon-icon-33-sunset:before {
	content: "\e6e9";
}
.icon-icon-34-rainbow:before {
	content: "\e6ea";
}
.icon-icon-35-umbrella:before {
	content: "\e6eb";
}
.icon-icon-36-raindrops:before {
	content: "\e6ec";
}
.icon-icon-37-raindrop:before {
	content: "\e6ed";
}
.icon-icon-38-sunglasses:before {
	content: "\e6ee";
}
.icon-icon-39-stars:before {
	content: "\e6ef";
}
.icon-icon-40-clouds:before {
	content: "\e6f0";
}
.icon-icon-41-moonrise:before {
	content: "\e6f1";
}
.icon-icon-42-moonset:before {
	content: "\e6f2";
}
.icon-icon-43-wind:before {
	content: "\e6f3";
}
.icon-icon-44-full-moon:before {
	content: "\e6f4";
}
.icon-icon-45-crescent:before {
	content: "\e6f5";
}
.icon-icon-46-half-moon:before {
	content: "\e6f6";
}
.icon-icon-47-gibbous-moon:before {
	content: "\e6f7";
}
.icon-icon-48-moon:before {
	content: "\e6f8";
}
.icon-icon-49-gibbous-moon:before {
	content: "\e6f9";
}
.icon-icon-50-half-moon:before {
	content: "\e6fa";
}
.icon-icon-51-crescent:before {
	content: "\e6fb";
}
.icon-icon-52-barometer:before {
	content: "\e6fc";
}
.icon-icon-53-compass-north:before {
	content: "\e6fd";
}
.icon-icon-54-compass-west:before {
	content: "\e6fe";
}
.icon-icon-55-compass-east:before {
	content: "\e6ff";
}
.icon-icon-56-compass-south:before {
	content: "\e700";
}
.icon-icon-57-air-sock:before {
	content: "\e701";
}
.icon-icon-58-tornado:before {
	content: "\e702";
}
.icon-icon-59-degree-fahrenheit:before {
	content: "\e703";
}
.icon-icon-60-degree-celsius:before {
	content: "\e704";
}
.icon-icon-61-warning:before {
	content: "\e705";
}
.icon-icon-62-compass:before {
	content: "\e706";
}
.icon-icon-63-compass:before {
	content: "\e707";
}
.icon-icon-64-compass:before {
	content: "\e708";
}
.icon-icon-65-compass:before {
	content: "\e709";
}
.icon-icon-66-thermometer:before {
	content: "\e70a";
}
.icon-icon-67-thermometer-low:before {
	content: "\e70b";
}
.icon-icon-68-thermometer-quarter:before {
	content: "\e70c";
}
.icon-icon-69-thermometer-half:before {
	content: "\e70d";
}
.icon-icon-70-thermometer-three-quarters:before {
	content: "\e70e";
}
.icon-icon-71-thermometer-full:before {
	content: "\e70f";
}
.icon-icon-72-lightning:before {
	content: "\e710";
}
.icon-icon-73-wind-turbine:before {
	content: "\e711";
}
.icon-icon-74-snowflake:before {
	content: "\e712";
}
